.form_section {
    width: 50%;
    height: fit-content;
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0.5px .5px 3px #000;
    /* overflow: hidden; */
}

.form_section .alertt {
    background-color: #000447 !important;
    color: #fff;
}

.form_section .form {
    background-color: #ededef;
    height: auto;
    overflow: auto;
}

.form_section .form::-webkit-scrollbar-thumb {
    background: #000447;
    border-radius: 10px 0 10px 0;
}

.form_section .form::-webkit-scrollbar {
    width: .7rem;
    background-color: none;
}

.form_section .form label {
    font-size: .8rem;
    font-weight: 500;
    color: #000447;
}

.form_section .form input,
.form_section .form select,
.form_section .form textarea {
    padding: 5px 10px;
    font-size: .7rem;
}
textarea {
    resize: none;
}

.form_section .form input:focus,
.form_section .form select:focus,
.form_section .form textarea:focus {
    box-shadow: none;
    border-color: #ced4da;
}

.form_section .form .form_btn {
    background-color: #000447;
    border: none;
}


.form_section .form .input_ {
    width: 100% !important;
}