@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.main_user3 {
  width: 100%;
     display: flex;
     align-items: center;
     height: 100vh;
     background-image: url('../../assets/images/back.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: right;
}

.login_form2 {
  width: 28%;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0.5px .5px 3px #000;
  border: 2px solid rgba(255,255,255,0.1);
  background-color: rgba(255,255,255,0.13);
  overflow: hidden;
  margin:  auto;
  
}

.login_form2 .form {
  height: auto;
}



.login_form2 .alertt {
  background-color: transparent ;
  color: #fff;
  border: none;
  border-radius: 3px 3px 0 0;
  font-weight: bold;
  border-bottom: 3px solid #fff;
}

.login_form2 .form label {
  font-size: .9rem;
  font-weight: 500;
  color: #fff;
}

.login_form2 .form input {
  padding: 10px;
  font-size: .7rem;
  width: 100%;
  /* background-color: rgba(255,255,255,0.07); */
  border-radius: 3px;
  border: none;
  /* color: #fff; */
}

/* .login_form2 .form input::placeholder {
  color: #fff !important;

} */

.login_form2 .form input:focus,
.login_form2 .form select:focus {
  box-shadow: none;
  /* border-color: #ced4da; */
}

.login_form2 .form .form_btn {
  background-color: #000;
  border-color: transparent;
  font-weight: bold;
  font-size: 1.2rem;
}

.login_form2 .form .form_btn a {
  color: #fff;
  text-decoration: none;
}

.login_form2 .form .message {
  margin: 15px 0 0;
  color: #fff;
  font-size: .8rem;
  font-weight: bold;
}
.login_form2 .form .message a {
  color: yellow;
  text-decoration: none;
}