@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.main_user5 {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: url('../../assets/images/bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.login_form4 {
  width: 28%;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0.5px .5px 3px #f1f1f1;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background-color: rgb(255 255 255 / 30%);

  overflow: hidden;
  margin: auto;

}

.login_form4 .form {
  height: auto;
}



.login_form4 .alertt {
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 3px 3px 0 0;
  font-weight: bold;
}

.login_form4 .form label {
  font-size: .9rem;
  font-weight: 500;
  color: #fff;
  /* color: #000447; */
}

.login_form4 .form input {
  padding: 10px;
  font-size: .7rem;
  width: 100%;
  background-color: rgb(255 255 255 / 33%);
  border-radius: 3px;
  border: none;
  color: #fff;
}

.login_form4 .form input::placeholder {
  color: #fff !important;

}

.login_form4 .form input:focus,
.login_form4 .form select:focus {
  box-shadow: none;
  /* border-color: #ced4da; */
}

.login_form4 .form .form_btn {
  background-color: #000;
  border-color: transparent;
  font-weight: bold;
  font-size: 1.2rem;
}

.login_form4 .form .form_btn a {
  color: #fff;
  text-decoration: none;
}

.login_form4 .form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: .8rem;
  font-weight: bold;
}

.login_form4 .form .message a {
  color: yellow;
  text-decoration: none;
}
