@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.main_user1 {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.main_user1 .all {
    width: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    height: 300px;
}

.login_form {
  width: 28%;
  height: fit-content;
  border-radius: 10px;
  border: 5px solid #ededed;
  /* box-shadow: 0.5px .5px 3px #000; */
  /* background-color: rgb(255 255 255 / 30%); */
  background-color: #fff;
  overflow: hidden;
  margin: auto;
z-index: 9999;
}

.login_form .form {
  height: auto;
}



.login_form .alertt {
  background-color: transparent;
  border-radius: 3px 3px 0 0;
  border: none;
  /* color: #000;
  font-weight: bold; */
}

.login_form .form label {
  font-size: .9rem;
  font-weight: 500;
  color: #000;
  /* color: #000447; */
}

.login_form .form input {
  padding: 10px;
  font-size: .7rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  border: none;
  color: #000;
  border: 1px solid #0003;
}

.login_form .form input::placeholder {
  color: #000 !important;

}

.login_form .form input:focus,
.login_form .form select:focus {
  box-shadow: none;
  /* border-color: #ced4da; */
}

.login_form .form .form_btn {
  background-color: #000;
  border-color: transparent;
  font-weight: bold;
  font-size: 1.2rem;
}

.login_form .form .form_btn a {
  color: #fff;
  text-decoration: none;
}

.login_form .form .message {
  margin: 15px 0 0;
  color: #000;
  font-size: .8rem;
  font-weight: bold;
}

.login_form .form .message a {
  color: #000;
  text-decoration: none;
}